<p style="color: green"><%= notice %></p>

<h1>Flats</h1>

<div id="flats">
  <% @flats.each do |flat| %>

    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.description %></p>
    </div>
    <div class="card-footer">
      <%= link_to "Show this flat", flat %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
